<div class="ecom-credits">
    <a href="https://www.conferecartoes.com.br/confere-shop" target="_blank" rel="noopener">
        Crie sua loja online agora
        <img
                src="https://www.conferecartoes.com.br/hubfs/logo-209.png"
                alt="Confere Shop"
                width="92"
                height="23"
        >
    </a>
</div>